<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="some random image">
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text"><%= @product.tagline %></p>
      <%= link_to "See all products", products_path, class: "btn btn-outline-success"%>
    </div>
  </div>
</div>